.auth-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.auth-btns .login-btn {
  padding: 5px 10px;
  width: 100px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.auth-btns .signup-btn {
  padding: 5px 10px;
  width: 100px;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.user-opts {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
  color: var(--white);
  z-index: 1;
}

.user-opts .profile,
.user-opts .cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--white);
  cursor: pointer;
}

.user-opts .cart {
  border: none;
}
