@import "tailwindcss";

:root {
  --black: #0d0d0d;
  --white: #ffffff;
  --gray: #f4f4f4;
  --dark-gray: #1e1e1e;
  --primary: #3b82f6;
  --accent: #111111;
}

body, html {
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
}

.danger {
  border: 1px solid red !important;
}
